table{
    border-collapse: collapse;
    width: 100%;
    color: aliceblue;
    cursor: pointer;
}

th, td{
    border: 1px solid rgb(27, 0, 63);
    padding: 8px;
    text-align: center;
}

th{
    background-color: black;
}

td{
    background-color: black;
    color: rgb(245, 245, 245);
}
h1{
    text-align: center;
}